In [ ]:
import pandas as pd

url = r"C:\Users\HP\Desktop\Joshua's files\My data sets\Bank transaction\Banking_DataSet\Bank_raw_data.xlsx"
df = pd.read_excel(url)


# List of columns to encode
columns_to_encode = [
    'TransactionDate', 'TransactionType', 'ProductCategory',
    'ProductSubcategory', 'BranchCity', 'Channel', 'Currency', 'CustomerSegment',
    'RecommendedOffer']

# Assigning unique identifiers to the dataset
for col in columns_to_encode:
    df[col + 'ID'] = df[col].astype('category').cat.codes

cols = ['TransactionID', 'CustomerID', 'TransactionDateID','TransactionDate',
        'TransactionTypeID','TransactionType','Amount', 'ProductCategoryID',
        'ProductCategory', 'ProductSubcategoryID','ProductSubcategory', 'BranchCityID',
        'BranchCity', 'BranchLat', 'BranchLong', 'ChannelID',
        'Channel', 'CurrencyID','Currency', 'CreditCardFees',
        'InsuranceFees', 'LatePaymentAmount', 'CustomerScore', 'MonthlyIncome',
        'CustomerSegmentID','CustomerSegment', 'RecommendedOfferID', 'RecommendedOffer'
        ]

df = df[cols]

df.to_csv('Bank_data.csv', index= False )

In [6]:
df.head(5)

,TransactionID,CustomerID,TransactionDate,TransactionType,Amount,ProductCategory,ProductSubcategory,BranchCity,BranchLat,BranchLong,Channel,Currency,CreditCardFees,InsuranceFees,LatePaymentAmount,CustomerScore,MonthlyIncome,CustomerSegment,RecommendedOffer
0,1,8270,2025-01-29,Card Payment,6980.185223,Checking Account,Gold,Seville,37.3891,-5.9845,Branch,EUR,0.0,0.00,0.0,839,5767.68,Middle Income Segment,Mid-tier Savings Booster
1,2,1860,2023-02-10,Deposit,10786.371854,Mortgage,Gold,Murcia,37.9847,-1.1287,Branch,EUR,0.0,0.00,0.0,683,2441.00,Low Income Segment,Financial Literacy Program Access
2,3,6390,2024-03-07,Transfer,3982.761111,Loan,Platinum,Malaga,36.7213,-4.4214,ATM,EUR,0.0,92.46,0.0,500,9957.08,High Income Segment,Premium Investment Services
3,4,6191,2023-07-04,Withdrawal,12408.644136,Mortgage,Standard,Seville,37.3891,-5.9845,ATM,EUR,0.0,0.00,0.0,392,1545.80,Low Income Segment,Financial Literacy Program Access
4,5,6734,2025-02-05,Fee,1868.260998,Checking Account,Platinum,Murcia,37.9847,-1.1287,Mobile,USD,0.0,0.00,0.0,368,5825.27,Middle Income Segment,Mid-tier Savings Booster

In [8]:
df.columns

Index(['TransactionID', 'CustomerID', 'TransactionDate', 'TransactionType',
       'Amount', 'ProductCategory', 'ProductSubcategory', 'BranchCity',
       'BranchLat', 'BranchLong', 'Channel', 'Currency', 'CreditCardFees',
       'InsuranceFees', 'LatePaymentAmount', 'CustomerScore', 'MonthlyIncome',
       'CustomerSegment', 'RecommendedOffer'],
      dtype='object')

In [10]:
df.columns

Index(['TransactionID', 'CustomerID', 'TransactionDate', 'TransactionType',
       'Amount', 'ProductCategory', 'ProductSubcategory', 'BranchCity',
       'BranchLat', 'BranchLong', 'Channel', 'Currency', 'CreditCardFees',
       'InsuranceFees', 'LatePaymentAmount', 'CustomerScore', 'MonthlyIncome',
       'CustomerSegment', 'RecommendedOffer', 'TransactionDateID',
       'TransactionTypeID', 'ProductCategoryID', 'ProductSubcategoryID',
       'BranchCityID', 'ChannelID', 'CurrencyID', 'CustomerSegmentID',
       'RecommendedOfferID'],
      dtype='object')

In [14]:
df.columns

Index(['TransactionID', 'CustomerID', 'TransactionDateID', 'TransactionDate',
       'TransactionTypeID', 'TransactionType', 'Amount', 'ProductCategoryID',
       'ProductCategory', 'ProductSubcategoryID', 'ProductSubcategory',
       'BranchCityID', 'BranchCity', 'BranchLat', 'BranchLong', 'ChannelID',
       'Channel', 'CurrencyID', 'Currency', 'CreditCardFees', 'InsuranceFees',
       'LatePaymentAmount', 'CustomerScore', 'MonthlyIncome',
       'CustomerSegmentID', 'CustomerSegment', 'RecommendedOfferID',
       'RecommendedOffer'],
      dtype='object')